<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Water Use Intensity (WUI) Data - 2024
    </title>
</head>
<body>
    <h1>Welcome to the Company Water Use Intensity (WUI) Database for 2024</h1>
    <!-- The 'fulllist' below corresponds to the title of the 'fulllist.ejs' file in the 'views' directory -->
    <a href="fullist">Click here for our full list of companies</a>
</body>
</html>