<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Water Use Intensity (WUI) Data - 2024
    </title>
</head>
<body>
    <h1>Welcome to the Company Water Use Intensity (WUI) Database for 2024</h1>
    <!-- The 'companies' below corresponds to the URL path address in index.js > line 22. We are within the 'companies' section of this web app (analagous to the 'pokemon' area of the example in 3D's class) -->
    <a href="/companies">Click here for our full list of companies</a>
</body>
</html>