<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Pokemon - NPC</title>
</head>
<body>
    <h1>Noble Pokemon Central</h1>
    <ul>
        <% for (const trainer of trainers) { %>
        <li>
            <a href="/trainers/<%= trainer._id%>">
            <%= trainer.Name %>
            </a>
        </li>        
        <% } %>
    </ul>
</body>
</html>